﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Faculteit</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>@ViewBag.Route</h1>
    <p>@ViewBag.Resultaat</p>
</body>
</html>