﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>@ViewBag.message</h1>

    @Html.ActionLink("Ga naar Groenten","Groenten")

    @Html.ActionLink("Ga naar Studenten", "Student")

</body>
</html>

