﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>Bands</h1>
    @foreach (var item in ViewBag.BandList)
    {
        <h2>@item.Naam</h2>
        <h3>@item.Jaar</h3>
    }
</body>
</html>